 <!-- views/login.html -->
<div class="container"></div>
 <div class="box-login" ng-controller="LoginController">
    <h1>Sign in to Car Sales</h1>
    <div class="form-login">
        <input type="text" placeholder="Username" ng-model="loginData.login" />
        <input type="password" placeholder="Password" ng-model="loginData.userAccountPassword" />
        <button ng-click="redirectToPage()">Sign in</button> 
        <p ng-show="errorMessage">{{errorMessage}}</p>
        <button2 ng-click="userRegistration()">New User? Click Here!</button2>

        </div>
    </div>


